@import "./vars";
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

header {
  background: $lightBlue;
  padding: $headerPadding;
  filter: drop-shadow(0px 5px 10px rgba(55, 84, 170, 0.171));
}

.logo {
  margin: 0px 40px 0px 0px;
}

.headerButton {
  color: $darkBlue;
  font-size: $headerButtonTextSize;
  text-transform: uppercase;
  margin: 0px 20px 0px 0px;
  border: none;
  background-color: $lightBlue;
  font-family: "Barlow", sans-serif;
}

// .headerButton:focus {
//   outline: 0;
// }
