@import "./vars";
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

.pop-up {
  background: $grey;
  margin: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.pop-up-text {
  color: $white;
  font-size: 14px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.span-underlined {
  text-decoration: underline;
  text-decoration-color: $white;
}

.span-underlined:hover {
  color: $lightBlue;
  text-decoration-color: $lightBlue;
}
