// header
$headerButtonTextSize: 16px;

$headerPadding: 20px 150px 20px 150px;

// colors
$darkBlue: #242657;
$grey: #516076;
$lightBlue: #e1e7f0;
$lightBlueSlightlyDarker: #d6dde7;
$shadowBlue: rgba(55, 84, 170, 0.171);
$white: #ffffff;
$accentBlue: #2e73d9;

//fonts
$main-font: "Barlow", sans-serif;

//watches-container
$watches-container-margin: 40px;
$watch-name-font-size: 18px;
$watch-prize-font-size: 16px;

//filter-container
$filter-label-name-size: 14px;

// search container
$search-container-padding: 5px 150px 5px 150px;

//mixins
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
