// header
$headerButtonTextSize: 18px;
$headerPadding: 20px 150px 20px 150px;

// colors
$darkBlue: #242657;
$grey: #516076;
$lightBlue: #e1e7f0;
$shadowBlue: rgba(55, 84, 170, 0.171);
$white: #ffffff;
$accentBlue: #2e73d9;

//fonts
$main-font: "Barlow", sans-serif;

//watches-container
$watches-container-margin: 40px;
$watch-name-font-size: 20px;
$watch-prize-font-size: 18px;
