@import "./vars";
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

.watches-container {
  border: 2px solid yellow;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 90px;
  padding: 20px;
}

.watch-container {
  padding: 35px 0px 10px 0px;
  border-radius: 20px;
  background: $lightBlue;
  filter: drop-shadow(10px 10px 10px $shadowBlue);
}

.watch-container-extra-filter {
  filter: drop-shadow(-10px -10px 10px $white);
}

.img-watch {
  width: 100%;
  mix-blend-mode: darken;
  border: none;
}

.watch-name {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-size: $watch-name-font-size;
  color: #242657;
}

.watch-price {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-size: $watch-prize-font-size;
  color: #242657;
}
