@import "./vars";
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

.watches-container {
  // border: 2px solid yellow;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 90px;
  padding: 20px;
  margin: 140px 0px 100px 0px;
}

.watch-container {
  padding: 35px 0px 10px 0px;
  border-radius: 20px;
  background: $lightBlue;
  filter: drop-shadow(10px 10px 12px $shadowBlue);

  &:hover {
    // -webkit-animation: hoveringWatchBlueShadow 1s infinite ease alternate;
  }
}

.watch-container-extra-filter {
  filter: drop-shadow(-10px -10px 12px $white);

  &:hover {
    // -webkit-animation: hoveringWatchWhiteShadow 1s infinite ease alternate;
  }
}

.label-new-watch {
  background-color: $white;
  padding: 15px;
  border-radius: 30px;
  position: absolute;
  // transform-origin: 50% 50%;
  z-index: 900;
  margin-top: -20px;
  margin-left: 80%;
  // display: inline-block;
  // float: right;
  // left: 100%;
  // justify-content: right;
  h1 {
    font-family: $main-font;
    font-size: $watch-name-font-size;
    color: $darkBlue;
    padding: 0px;
    margin: 0px;
  }
}

.img-watch {
  height: 30vh; // niet optimaal
  mix-blend-mode: darken;
  border: none;
}

.watch-properties-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.watch-properties-container {
  grid-column-start: 2;
  grid-column-end: 2;
}

.watch-name {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-size: $watch-name-font-size;
  color: $darkBlue;
}

.watch-price {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-size: $watch-prize-font-size;
  color: $darkBlue;
}

.on-sale-line-trough {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: double;
  margin-right: 10px;
}

.add-to-cart-button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background-color: $lightBlue;
  filter: drop-shadow(6px 6px 5px $shadowBlue);
  //alignment in grid zie extra filter class .add-to-cart-button-extra-filter

  img {
    mix-blend-mode: darken;
    transform-origin: 50% 50%;
    transform: translate(-2px, 1px);

    &:hover {
      -webkit-animation: rideBy 0.5s ease infinite alternate;
    }
  }

  &:hover {
    filter: drop-shadow(6px 6px 5px $white);
    background-color: $lightBlueSlightlyDarker;
  }

  &:focus {
    outline: 0;
  }
}

.add-to-cart-button-extra-filter {
  filter: drop-shadow(-6px -6px 5px $white);
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-self: center;
  align-self: center;

  &:hover {
    filter: drop-shadow(-6px -6px 5px $shadowBlue);
  }
}

//animations

@-webkit-keyframes rideBy {
  0% {
    transform: translate(-2px, 1px);
  }
  50% {
    transform: translate(2px, 1px);
  }
  100% {
    transform: translate(-4px, 1px);
  }
}

@-webkit-keyframes hoveringWatchBlueShadow {
  from {
    filter: drop-shadow(10px 10px 12px $shadowBlue);
  }
  to {
    filter: drop-shadow(10px 10px 12px rgba(134, 18, 18, 0));
  }
}

@-webkit-keyframes hoveringWatchWhiteShadow {
  from {
    filter: drop-shadow(-10px -10px 12px $white);
  }
  to {
    filter: drop-shadow(-10px -10px 12px rgba(134, 18, 18, 0));
  }
}
